body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../img/background.jpg);
    user-select: none;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-image: url(../img/fundo.jpg);
    padding: 2.5em 3.5em;
}

h2 {
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.reset {
    padding: 15px 20px;
    width: 100%;
    color: #000;
    background-color: #fff;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.reset:focus {
    color: #ffff;
}

.reset:hover {
    background-color: #cacaca;
}

.game {
    height: 430px;
    width: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective:  500px;
}

.item {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;

    font-size: 3em;
    transform: rotateY(180deg);
    transition: 0.25s;
}

.item::after{
    content: "";
    position: absolute;
    inset: 0;
    background: #404040;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    cursor: pointer;
}

.item:hover {
    animation: balancar 0.3s ease-in-out;
}

@keyframes balancar {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(3deg); }
    50% { transform: rotate(-3deg); }
    75% { transform: rotate(2deg); }
    100% { transform: rotate(0deg); }
}

.item.boxOpen {
    transform: rotateY(0deg);
    pointer-events: none;
}

.boxOpen::after,
.boxMatch::after{
    transform: rotateY(180deg);
}